{#
/**
 * Available variables:
 * - accordion_base_class - the base classname
 * - accordion_modifiers - array of modifiers to add to the base classname
 * - accordion_blockname - blockname prepended to the base classname
 */
#}
{% set accordion_base_class = accordion_base_class|default('accordion') %}

<div {{ bem(accordion_base_class, (accordion_modifiers), accordion_blockname) }}>
  {% for accordion_item in accordion_items %}
    <div {{ bem('item', accordion_item_modifiers, accordion_base_class) }}>
      {% block accordion_icon %}
        <div {{ bem('icon', accordion_term_modifiers, accordion_base_class) }}>
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_base_class: 'expand-icon',
            icon_blockname: accordion_base_class,
            icon_name: 'chevron',
          } %}
        </div>
      {% endblock %}
      {% block accordion_heading %}
        <div {{ bem('heading', accordion_term_modifiers, accordion_base_class) }}>{{ accordion_heading|default(accordion_item.heading) }}</div>
      {% endblock %}
      {% block accordion_content %}
        <div {{ bem('content', accordion_def_modifiers, accordion_base_class) }}>{{ accordion_content|default(accordion_item.content) }}</div>
      {% endblock %}
    </div>
  {% endfor %}
</div>
