{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('legislative-district') %}

  {% block title %}{% endblock %}

  {% block content %}
    <h2 class="wysiwyg__h2">Local Impact of UT Austin</h2>
    <p class="wysiwyg__p">Across the state, UT Austin alumni generated approximately $8.8 billion of added income, or the equivalent of adding more than 133,000 new jobs, in 2013 alone.</p>
    <div{{ content_attributes }}>
      {#{ content }#}
      <div class="flexbox flexbox--paragraph-wrapper flexbox--horizontal flexbox--layout-row flexbox--feature-50 flexbox--item-box-5">
        <div class="flexbox flexbox--vertical flexbox__item flexbox__item--pargraph-wrapper flexbox__item--horizontal flexbox__item--feature-50 flexbox__item--item-box-5">
          {{ content.field_txex_geofield_01 }}
        </div>
        <div style="justify-content: flex-start" class="flexbox flexbox--vertical flexbox__item flexbox__item--pargraph-wrapper flexbox__item--horizontal flexbox__item--feature-50 flexbox__item--item-box-5">
          <h3 style="color: #bbb; font-weight: 700; margin-bottom: 20px;" class="flexbox__h1--alt-7">Economic Impact Equivalents</h3>
          {{ content.field_txex_number_int_03 }}
          {{ content.field_txex_number_decimal_01 }}
        </div>
      </div>

      <div class="flexbox flexbox--paragraph-wrapper flexbox--horizontal flexbox--layout-row flexbox--feature-33 flexbox--item-box-5">
        <div style="justify-content: flex-start" class="flexbox flexbox--vertical flexbox__item flexbox__item--pargraph-wrapper flexbox__item--horizontal flexbox__item--feature-33 flexbox__item--item-box-5">
          <h3 style="color: #bbb; font-weight: 700; margin-bottom: 20px;" class="flexbox__h1--alt-7">UT Presence</h3>
          <div style="color: #555; font-weight: 700; padding: 10px 0 0 0;"  class="flexbox__h1--alt-10 flexbox--layout-background-6 flexbox--layout-box-5">
            <span style="display: inline-block;">{{- content.field_txex_number_int_02[0]['#markup'] -}}</span>
            <span style="display: block;" class="flexbox__h2">
              ({{ content.field_txex_number_decimal_03[0]['#markup'] }})
            </span>
          </div>

          {% include "@atoms/03-text/01-heading/_heading.twig" with {
            "heading_content": content.field_txex_number_int_02['#title'],
            "heading_level": 2,
            "heading_base_class": 'p',
            "heading_blockname": 'wysiwyg'
          } %}

          {{ content.field_txex_number_int_05 }}
          {{ content.field_txex_number_int_06 }}
          {{ content.field_txex_number_int_07 }}
        </div>
        <div style="justify-content: flex-start" class="flexbox flexbox--vertical flexbox__item flexbox__item--pargraph-wrapper flexbox__item--horizontal flexbox__item--feature-33 flexbox__item--item-box-5">
          <h3 style="color: #bbb; font-weight: 700; margin-bottom: 20px;" class="flexbox__h1--alt-7">District Population</h3>
          <div style="color: #555; font-weight: 700;  padding: 10px 0 0 0;"  class="flexbox__h1--alt-10 flexbox--layout-background-6 flexbox--layout-box-5">
            <span style="display: inline-block;">{{- content.field_txex_number_int_04[0]['#markup'] -}}
            <span style="display: block;" class="flexbox__h2">
              ({{ content.field_txex_number_decimal_02[0]['#markup'] }})
            </span></span>
          </div>

          {% include "@atoms/03-text/01-heading/_heading.twig" with {
            "heading_content": content.field_txex_number_int_04['#title'],
            "heading_level": 2,
            "heading_base_class": 'p',
            "heading_blockname": 'wysiwyg'
          } %}

          {{ content.field_txex_number_int_08 }}
        </div>
        <div style="justify-content: flex-start" class="flexbox flexbox--vertical flexbox__item flexbox__item--pargraph-wrapper flexbox__item--horizontal flexbox__item--feature-33 flexbox__item--item-box-5">
          <h3 style="color: #bbb; font-weight: 700;" class="flexbox__h1--alt-7">State Legislator</h3>
          {{ content.field_txex_number_int_08 }}
        </div>
      </div>

      <p class="wysiwyg__p">{{ content.field_txex_text_long_01 }}</p>

      <div class="flexbox--layout-box-5 do-not-print">
        <p style="text-align: center;" class="wysiwyg__p">Use your voice to amplify this message. Become a UT Advocate and contact your legislator today.</p>
        <p class="hack-p__link--alt-1 wysiwyg__p">
          <a href="/get-involved/advocate-ut/action-center" class="wysiwyg__link">Take Action Today</a>
        </p>
      </div>
      <div class="flexbox--layout-background-6 flexbox--layout-box-5">
        <p class="wysiwyg__p">The data reflected for this district is approximated based on statewide multipliers that factor in increased earnings resulting from a degree. </p>
      </div>

    </div>
  {% endblock content %}
