<div{{ attributes }}>
  <h2 class="wysiwyg__h2">{{'Heading TK'|t}}</h2>
  <div class="membership-wrapper">
    <h3 class="wysiwyg__h4">{{'Membership Level'|t}}</h3>
    <p class="p" id="last-membership-level">{{ membership_details.type }}</p>
    <h3 class="wysiwyg__h4">My Membership</h3>
    {{ membership_toolbox_block }}
  </div>
  {{ drupal_view('txex_user_chapter_memberships', 'txex_chapter_membership_block') }}
</div>
