{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

{% set views_view_items = [] %}

  {#{ exposed }#}
  {#{ kint (attachment_before) }#}
  {#{ attachment_before }#}
  {#{ kint(rows) }#}
  {#{ rows }#}




  {% set tempArray1 = [] %}
  {% for key, child in rows %}
    {% set tempArray1 = tempArray1|merge({(key+1) : (child),}) %}
  {% endfor %}

  {# Moving no results text inside the block instead of outside#}
  {% set tempArray1 = {0 : empty}|merge(tempArray1) %}
  {% set tempArray1 = {0 : exposed}|merge(tempArray1) %}

  {% set views_view_items = views_view_items|merge({0 : (tempArray1), 1 : (attachment_before),}) %}
  {% set paragraph_base_class = 'flexbox' %}
  {% set tempArray5 = [] %}

  {% set layout_level = layout_level + 1 |default(1) %}
  {% set tempArray5 = tempArray5|merge({'layout_level' : ('layout-level-'~layout_level),}) %}
  {% set tempArray5 = tempArray5|merge({'paragraph-wrapper' : 'paragraph-wrapper', 'horizontal' : 'horizontal', 'feature-50' : 'feature-50', 'layout-background-3' : 'layout-background-3', 'layout-box-4' : 'layout-box-4', 'layout-row' : 'layout-row', 'item-box-2' : 'item-box-2'}) %}

  {% if paragraph_modifiers %}
    {% set tempArray5 = tempArray5|merge(paragraph_modifiers) %}
  {% endif %}

  {% include "@base/layouts/layout/00-layout.twig" with {
    "layout_attributes": attributes.addClass(classes),
    "layout_base_class": paragraph_base_class,
    "layout_modifiers": tempArray5,
    "layout_items": views_view_items,
    "layout_modifiers_additional": {1 : 'vertical'}
  }%}

  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
