<div{{ attributes }}>
  <h3 class="wysiwyg__h4">{{ "This Year's Gifts and Payments" | t }}</h3>
  <div id="gift-message">
    <p class="p loading-message">{{ "Loading your gift history..." | t }}</p>
    <p class="p no-gift-message" style="display:none">{{ "No gifts found. Please consider making a gift today." | t }}</p>
    <p class="p gift-error-message" style="display:none">{{ "We had problems loading your gift data. Please try again later." | t }}</p>
  </div>
  <div id="gift-detail-table-wrapper" style="display:none">
    <table id="gift-detail-table">
      <tr class="gift-header-row">
        <th class="gift-header gift-date">{{ "Date" | t }}</th>
        <th class="gift-header gift-purpose">{{ "Purpose" | t }}</th>
        <th class="gift-header gift-amount">{{ "Amount" | t }}</th>
      </tr>
      <tr class="gift-sample-row">
        <td class="gift-data gift-date"></td>
        <td class="gift-data gift-purpose"></td>
        <td class="gift-data gift-amount"></td>
      </tr>
    </table>
  </div>
</div>
