<div{{ attributes }}>
  <h2 class="wysiwyg__h2">{{ "My Giving" | t }}</h2>
  <div class="active-pledge-wrapper">
    <svg><use xlink:href="/themes/custom/d8-theme-main/dist/img/sprite/sprite.svg#{{ pledge_details.icon }}"></use></svg>
{% if has_active_pledge == true %}
    <h3 class="wysiwyg__h4" id="current-pledge">{{ "Current Pledge" | t }}</h3>
    <p class="p pledge-details">{{ pledge_details.total_value }} ({{ pledge_details.remaining_balance }} {{"Remaining" |t}})</p>
    <p class="p pledge-next-payment">{{ "Next payment will be on " |t }}{{ pledge_details.next_payment }}
{% else %}
    <h3 class="wysiwyg__h4" id="current-pledge">{{ "Current Pledge" | t }}</h3>
    <p class="p pledge-details">{{"You do not appear to have an active pledge.  Please consider making one today." |t}}</p>
{% endif %}
  </div>
{% if has_membership_payments == true %}
  <div class="active-membership-wrapper">
    <svg><use xlink:href="/themes/custom/d8-theme-main/dist/img/sprite/sprite.svg#{{ membership_details.icon }}"></use></svg>
    <h3 class="wysiwyg__h4" id="current-membership-payment">{{ "Membership Payment" | t }}</h3>
    <p class="p memberhip-payment-details">{{ membership_details.total_value }} ({{ membership_details.remaining_balance }} {{"Remaining" |t}})</p>
    <p class="p membershipo-next-payment">{{ "Membership will be paid off on " |t }}{{ membership_details.payoff_date }}
  </div>
{% endif %}

  <div class="giving-links-wrapper">
    {{ giving_history_link }}
  </div>

</div>
