{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set attributes = attributes.addClass('header-region') %}

<div{{ attributes }}>
  {{ elements.txexmainnavigation }}
  <div class="header__top">
    <div class="header__branding">
      {{ elements.sitebranding }}
    </div>
    <div class="header__secondary">
      {{ elements.searchform }}
      {{ elements.txexuseraccountmenu }}
      {{ elements.txexsecondarynavigation }}
    </div>
  </div>
</div>

{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{#

{# {% if elements.views_block__landing_page_content__landing_page_header_content %}
  {% set region_header_modifiers = ["flush"] %}
{% endif %}
{% embed "@organisms/global/site-header/site-header.twig" with {
  "site_header_modifiers": region_header_modifiers,
} %}
  {% block site_header_content %}
      {{ elements.views_block__landing_page_content__landing_page_header_content }}
  {% endblock %}
{% endembed %}
 #}
