{#
/**
 * @file
 * Theme implementation to display a chapter group in a page header.
 *
 * This template does not extend group.html.twig because group.html.twig
 * does not define any blocks!
 */
#}

{% set image %}
  {{ content.field_txex_media_ref_01 }}
{% endset %}
{% set css = 'background-image:url(' ~ (image|striptags) ~ ');' %}
{% set attributes = attributes.setAttribute('style', css) %}

<div{{ attributes }}>

  <div class="group-header-title">
    {{ content.label }}
  </div>

  {#
    TODO: If Field Group module is added to this project, these fields would
    not have to be hardcoded here this way.
  #}
  <div class="group-header-links">
    {{ content.field_txex_link_02 }}
    {{ content.field_txex_link_05 }}
    {{ content.field_txex_link_03 }}
    {{ content.field_txex_link_04 }}
  </div>

</div>
