{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('event') %}

  {% block title %}
  {# remove class for overriden template block #}
  {% set attributes = attributes.removeClass('event') %}

    {{ title_prefix }}
    {% include "@atoms/03-text/01-heading/_heading.twig" with {
      "heading_attributes": title_attributes,
      "heading_blockname": 'wysiwyg',
      "heading_content": label,
      "heading_level": 2,
      "heading_modifiers": {'event-title':'event-title'},
    } %}
    {{ title_suffix }}
  {% endblock title %}

  {% block content %}
    <div{{ content_attributes }}>

      {{ content.field_txex_ref_media_01 }}

      <div class="event-meta">
        <div class="event-date event-meta-item">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_blockname: menu_bem_blockname,
            icon_modifiers: {'alt-1' : 'alt-1'},
            icon_name: 'txex-event-icon-date',
          } %}
          <span>{{date_time_start}} – {{date_time_end}}</span>
        </div>
        <div class="event-address event-meta-item">
          {% include "@atoms/04-images/icons/_icon.twig" with {
            icon_blockname: menu_bem_blockname,
            icon_modifiers: {'alt-1' : 'alt-1'},
            icon_name: 'txex-event-icon-location',
          } %}
          {{ content.field_txex_address_01 }}
          <div class="event-meta-item event-category-name">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_blockname: menu_bem_blockname,
              icon_modifiers: {'alt-1' : 'alt-1'},
              icon_name: 'txex-event-icon-category',
            } %}
          </div>
        </div>
      </div>

      {{ content.field_txex_text_long_02 }}
      {{ content.field_txex_link_01 }}

    </div>
  {% endblock content %}
