{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('event') %}

  {% block title %}
  {# remove class for overriden template block #}
  {% set attributes = attributes.removeClass('event') %}

    {{ title_prefix }}
    {% include "@atoms/03-text/01-heading/_heading.twig" with {
      "heading_attributes": title_attributes,
      "heading_blockname": 'wysiwyg',
      "heading_content": label,
      "heading_level": 2,
      "heading_modifiers": {'event-title':'event-title'},
    } %}
    {{ title_suffix }}
  {% endblock title %}

  {% block content %}
    <div{{ content_attributes }}>

      {{ content.field_txex_ref_media_01 }}

      <div class="event-meta">
        <div class="event-meta-section">
          <div class="event-meta-item event-category-icon">
            {{ tax_term_parent_icon }}
          </div>
        </div>
        <div class="event-meta-section">
          <div class="event-meta-item event-date">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_blockname: menu_bem_blockname,
              icon_modifiers: {'alt-1' : 'alt-1'},
              icon_name: 'txex-event-icon-date',
            } %}
            {{ content.field_txex_date_range_01 }}
            {% if not start_date_only %}
              {{ content.field_txex_tz_01}}
            {% endif %}
            {% if ics_file_01 %}
              <a class="wysiwyg__link" href="{{ ics_file_01 }}">Add to Calendar</a>
            {% endif %}
            {% if ics_file_02 %}
              <a class="wysiwyg__link" href="{{ ics_file_02 }}">Add to Calendar</a>
            {% endif %}
          </div>
          <div class="event-meta-item event-address">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_blockname: menu_bem_blockname,
              icon_modifiers: {'alt-1' : 'alt-1'},
              icon_name: 'txex-event-icon-location',
            } %}
            {{ content.field_txex_address_01 }}
          </div>
          <div class="event-meta-item event-category-name">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_blockname: menu_bem_blockname,
              icon_modifiers: {'alt-1' : 'alt-1'},
              icon_name: 'txex-event-icon-category',
            } %}
            <p class="p p--paragraph-no-margin">{{ tax_term_parent_name }}</p>
          </div>
        </div>
      </div>

      {{ content.field_txex_text_long_02 }}
      {{ content.field_txex_link_01 }}

    </div>
  {% endblock content %}
