{% extends  "node.html.twig" %}
{% set attributes = attributes.addClass('event') %}

  {% block title %}
  {# remove class for overriden template block #}
  {% set attributes = attributes.removeClass('event') %}

    {{ title_prefix }}
    {% include "@atoms/03-text/01-heading/_heading.twig" with {
      "heading_attributes": title_attributes,
      "heading_blockname": 'wysiwyg',
      "heading_content": label,
      "heading_level": 2,
      "heading_modifiers": {'event-title':'event-title'},
    } %}
    {{ title_suffix }}
  {% endblock title %}

  {% block content %}
    <div{{ content_attributes }}>

      {{ content.field_txex_ref_media_01 }}

      <div class="event-meta">
        {#{ label }#}
        {# check if two date fields are on the same day #}
        {% if start_end_date_equal %}
          <div class = 'event-date event-meta-item'>{{date_time_start}} – {{date_start_time_end}}</div>
        {% else %}
          <div class = 'event-date event-meta-item'>{{date_time_start}} – {{date_time_end}}</div>
        {% endif %}

        {{ content.field_txex_address_01 }}
      </div>

      {{ content.field_txex_text_long_summary_01 }}

      {{ content.field_txex_link_01 }}

      {#% set url = url('<current>')['#markup']|url_encode %#}
      <!-- <p>
        <a href="https://www.facebook.com/sharer/sharer.php?u={#{ url }#}&t={#{ node.getTitle() }#}"
           onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           target="_blank" title="Share on Facebook" class="facebook-share">Share on Facebook</a>
      </p> -->

    </div>
  {% endblock content %}
