{#
/**
 * @file
 * Theme implementation to display a chapter group in a page header.
 */
#}
{% extends "group.html.twig" %}
{% set attributes = attributes.addClass('group-header') %}

{% set image = content.field_txex_ref_media_01 %}
{% set image_css = 'background-image:url(' ~ (image|striptags|trim) ~ ');' %}

{% block title %}
  <div{{ attributes }}>

    <div class="group-header-background" style="{{ image_css }}">{{ content.field_txex_ref_media_01 }}</div>
    {{ content.field_txex_ref_media_02 }}

  {% if (content|without('field_txex_ref_media_01','field_txex_ref_media_02','label')|render is not empty) %}
    <div class="group-header-links">
      <div>Keep in touch:</div>
      {{ content|without('field_txex_ref_media_01','field_txex_ref_media_02','label') }}
    </div>
  {% endif %}

  </div>
{% endblock title %}

{% block content %}{% endblock content %}
