{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<ul class="main-menu main-menu--level-{{ items|first.menu_level }} flexbox flexbox--vertical">
{% for key, item in items if key|first != '#' %}
  {% set menu_item_classes = [
    'main-menu__item',
    'main-menu__item--level-' ~ item.menu_level,
    'flexbox__item',
    item.is_expanded ? 'menu-item--expanded',
    item.is_collapsed ? 'menu-item--collapsed',
    item.in_active_trail ? 'menu-item--active-trail'
  ] %}

  <li{{ item.attributes.addClass(menu_item_classes) }}>
    {{ link(item.title, item.url) }}

    {% set rendered_content = item.content|without('') %}
    {% if rendered_content|render %}
      {% set menu_dropdown_classes = [
        'menu-dropdown',
        'menu-dropdown-' ~ item.menu_level,
        'menu-type-' ~ item.content['#view_mode'],
      ] %}

      <div{{ create_attribute().addClass(menu_dropdown_classes) }}>
        {{ rendered_content }}
      </div>
    {% endif %}

  </li>
{% endfor %}
</ul>
